<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Rescate y Adopción</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <img src="~/images/Logo.png" alt="Logo" />
        <nav>
            <a asp-controller="Home" asp-action="Index">Inicio</a>
            <a asp-controller="Animal" asp-action="Index">Mascotas</a>
            <a asp-controller="Cuenta" asp-action="Login">Cerrar sesión</a>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <p>© 2025 - Rescate y Adopción</p>
    </footer>
</body>
</html>